version: '3'

services:

    apache:
        image: ronasit/php-nginx-dev:7.3
        working_dir: /app
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./:/app
